!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Hello
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta(name="viewport" content="width=device-width")
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/libs/modernizr-2.0.6.min.js")
  %body
    %h1 Cabin Events
    %ul.events
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(defer src="js/vendor/coffee-script.js")
    %script(defer src="js/cabinweb.coffee" type="text/coffeescript")
